<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Escola de Idiomas em Miami desde 1993</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/style-index.css">
    </head>
    <body>
        <header>
        <div class='barrasuperior'> 
            <p class='phone'><strong> Whatsapp +1 786-774-0446</strong> </p> 
            <img class='img' src="https://w7.pngwing.com/pngs/65/728/png-transparent-red-telephone-telephone-symbol-icon-phone-free-electronics-text-heart-thumbnail.png" alt=""> 
            <p class='phone'> <strong>  Phone 305-529-2257 </strong> </p> 
            <img class='img' src="https://w7.pngwing.com/pngs/65/728/png-transparent-red-telephone-telephone-symbol-icon-phone-free-electronics-text-heart-thumbnail.png" alt=""> 
        </div>
        <div class='barrasuperior-2'>
            <div class='logo'>
                <img class='img-2' src="../static/img/English-Portuugese-and-Spanish-courses-pd99aeq1g4yq1v02rc639qupf4eofocq7ufaqsrqi0.png" alt="" >
            </div>
            <div class='menu'>
                <div class='mobile-menu'>
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
             <nav>   
                <ul class="nav-list">
                    <li><a href="#">Home</a></li>
                    <li>
                        <div class="dropdown">
                           <a class="dropbtn" >Curso de Inglês ⇩ </a>
                            <div class="dropdown-content">
                                <a class="acolor" href="#">Curso Intensivo de Inglês</a>
                                <a class="acolor" href="#">Inglês Semi Intensivo</a>
                                <a class="acolor" href="#">Aulas Particulares de Inglês</a>
                            </div>
                          </div>
                    </li>
                    <li><a href="#">Aulas em Empresas</a></li>
                    <li><a href="#">Contato</a></li>  
                </ul>
             </nav>          
            </div>
            
        </header> 
        <main></main>  
        <figure id="container">
            <img  src="../static/img/Website-banner-WITH-background_smaller-characters3_2.jpg" />  
            <h1> Escola de Idiomas em Miami desde 1993 </h1>
            <h2> Aprenda inglês, espanhol ou português </h2>
          </figure>
        <div class="cards">
            <div class="card card1">
                <div class="container">
                    <img src="https://aventurasnahistoria.uol.com.br/media/_versions/curiosidades/estatua_da_liberdade_widelg.jpg"
                    alt="USA">
                </div>
                <div class="details">
                    <h3> Aula de Inglês </h3>
                    <p>Intensivo, semi-intensivo. Grupo, privado e interno. </p>
                    <button> Saiba Mais </button>
                </div>
            </div>

            <div class="card card2">
                <div class="container">
                    <img src="https://aventurasnahistoria.uol.com.br/media/_versions/brasil/cristo_redentor_lLwgS4Y_widelg.jpg"
                    alt="BRA">
                </div>
                <div class="details">
                    <h3> Aula de Português </h3>
                    <p>Intensivo, semi-intensivo. Grupo, privado e interno. </p>
                    <button> Saiba Mais </button>
                </div>
            </div>

            <div class="card card3">
                <div class="container">
                    <img src="https://m7g2b8q3.stackpathcdn.com/wp-content/uploads/2016/01/Arco-do-Triunfo-Barcelona.jpg"
                    alt="ESP">
                </div>
                <div class="details">
                    <h3> Aula de Espanhol </h3>
                    <p>Intensivo, semi-intensivo. Grupo, privado e interno. </p>
                    <button> Saiba Mais </button>
                </div>
            </div>

        </div>

         
          </div>
        <script src="../static/js/mobile-navbar.js"></script>
    </body>
</html>